/* 
####### ENEMY STYLES
####################
*/
.enemy-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  border: 3px solid purple;
}

.enemy-box {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  position: relative; /* must be positioned so enemy stats can be positioned absolute */
}

.enemy-portrait {
  height: 60%;
  width: 60%;
  border: 3px solid green;
  margin: 0 auto;
  position: relative;
  top: 40px;

}

.enemy-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enemy-stats {
  border: 1px solid orange;
  position: absolute; /* absolutely positioned with ancestor enemy box */
  bottom: 0px;
  height: 15%;
  width: 100%;
}

.enemy-name {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  border: 1px solid black;
  height: 100%;
  text-align: center;
}

.enemy-hp {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  border: 1px solid brown;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
}

/* 
####### PLAYER STYLES
####################
*/

.player-container {
  position: absolute;
  margin: 0 auto;
  bottom: 10px;
  height: 25%;
  width: 80%;
  max-width: 800px;
  border: 2px solid teal;
  left: 0;
  right: 0;
}

.player-options {
  height: 20%;
  border: 1px solid darkkhaki;
  position: relative;
}

.player-gold {
  display: inline-block;
  position: absolute;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid orange;
  width: 30%;
}

.buy-btn-box {
  border: 1px solid blue;
  width: 20%;
  display: inline-block;
  position: absolute;
  height: 100%;
  right: 0;
}

.buy-btn {
  position: absolute;
  right: 0;

}

.pawns-container {
  position: absolute;
  bottom: 0;
  height: 70%;
  border: 1px solid darkolivegreen;
  width: 100%;
  display: flex;
}

.pawn-container {
  flex: initial;
  position: relative;
  width: 20%;
  min-width: 10%;
  border: 1px solid green;
}

.pawn-stats {
  height: 60%;
  text-align: center;
  width: 100%;
  border: 1px solid orange;
}

.pawn-options {
  position: absolute;
  bottom: 0px;
  height: 20%;
  width: 100%;
  border: 1px solid purple;
}