.bars-container {
  width: 600px;
  min-width: 300px;
  /*height: 80%;*/
  height: 500px;
  min-height: 400px;
  margin: 0 auto;
}

.bar-container {
  width: 100px;
  height: 100%;
  display: inline-block;
  margin-right: 25px;
  position: relative;
}

.hover-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: darkorchid;
  border-radius: 50%;
}

.hover-box:hover {
  background-color: pink;
}

.progress {
  height: 65%;
  /*background-color: black;*/
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  width: 80px;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: height;
  height: 2%;
  background-color: green;
}